body{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ebebeb;
    
}
.titulo{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 3rem;
}
.feed{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
.titulosuperior {
    display: flex  ;
    flex-direction: column;
    align-items: center;
    
}
.post{
    display: flex;
    gap: 5px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;  
    height: 580px;
    width: 500px;
}
.textosuperior{
    display: flex;
    justify-content: space-around;
      
}
.textoinferior{
    padding: 10px;
}
img{
    width: 400px;
    height: 400px;
    padding-left: 45px;
}